<section>
    <h1>Aktie Kaufen</h1>

    <form [formGroup]="kaufenForm">
        <mat-form-field>
            <mat-label>Aktie</mat-label>
            <mat-select formControlName="aktie">
                @for (aktie of demoAktien; track $index) {
                    <mat-option [value]="aktie">{{ aktie.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Hebel</mat-label>
            <input matInput type="number" formControlName="hebel">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Hebel Typ</mat-label>
            <mat-select formControlName="hebel_type">
                @for (item of hebelTypes; track $index) {
                    <mat-option [value]="item">{{ item }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <button mat-raised-button type="submit">Kaufen</button>
    </form>
</section>